<% content_for :title do %>Steelers- Admin<% end %>
<% content_for :description do %>
  Configuration Templates Management Console
<% end %>

<h1>Configuration Templates</h1>
<%= render 'template_table' %>
