<h3>New Configuration Template</h3>

<p>
  Notes:
  <ul>
    <li>Comma comes with 1 space after it</li>
    <li>Give your separators (commas, newline, spaces) unique names. 
        i.e. SPACE1, SPACE2, SPACE3, COMMA1, COMMA2, NEWLINE1, etc.</li>
  </ul>
</p>

<%= render 'form' %>
<%= link_to 'Back', admins_path, :class => 'btn btn-mini' %>
