<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @config_template.name %>
</p>


<%= link_to 'Edit', edit_config_template_path(@config_template) %> |
<%= link_to 'Back', config_templates_path %>
