<div class="accordion-group"> <!-- Servers Index -->
  <div class="accordion-heading">
    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
      Servers
    </a>
  </div> <!-- accordion heading -->
  <div id="collapseTwo" class="accordion-body collapse">
    <div class="accordion-inner">
      <table class="table table-condensed">
        <thead>
          <tr>
            <th>Name</th>
            <th>IP</th>
            <th>Num Jobs</th>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% @servers.each do |server| %>
            <tr>
              <td><%= server.name %></td>
              <td><%= server.ip %></td>
              <td><%= server.num_jobs %></td>
              <td>
                <%= link_to("Delete Server", server_path(server), :data => { :confirm => "Are you sure?" }, :method => "delete", :class => 'btn btn-mini') %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div> <!-- accordion-inner -->
  </div> <!-- accordion-body -->
</div> <!-- accordion-group -->
