<% content_for :title do %>Steelers- Home<% end %>
<% content_for :description do %>User home page<% end %>

<h3>Logged in as: <%= link_to @user.user_id, user_path(@user) %></h3>
<p>Current time: <%= Time.now %></p>

<div class="span8">
  <div class="accordion" id="accordion1">
    <%= render 'job_queue' %>
    <%= render 'log_queue' %>
  </div> <!-- accordion -->
</div>
